# Ignore dependencies directories.
node_modules

# Ignore ESLintt config file.
eslint.config.js

# Ignore .env files.
.env
.env.development
.env.production

# Ignore the firebase keys JSON files.
firebase-key.json
firebase-key-development.json
firebase-key-production.json

# Ignore the administration directory located in the root directory.
/administration/